{% extends "base_generic.html" %}

{% block content %}
<h1 class="display-5 mb-5">Tracoll/<span class="endpath">Authors/</span></h1>
    {% if author_list %}
        <ul>
            {% for author in author_list %}
                <!-- Django llama a las funciones sin parámetros sin paréntesis -->
                <li><a href="{{ author.get_absolute_url }}"> {{ author.name }} ({{ author.type }})</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no texts in the library.</p>
    {% endif %}
{% endblock %}