{% extends "base_generic.html" %}

{% block content %}

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" >Tracoll</li>
        <li class="breadcrumb-item" ><a href="/app_tracoll" class="system-link">Home</a></li>
        <li class="breadcrumb-item" ><a href="{% if perms.app_tracoll.all_texts %} /app_tracoll/texts {% else %} /app_tracoll/translated_texts {% endif %}" class="system-link">Texts</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{text.title}}</li>
        </ol>
    </nav>

    <h1 class="display-4">{{ text.title }} by <a href="{{ text.authors.first.get_absolute_url }}" class="author-link">{{ text.author }}</a></h1>

    {% if perms.app_tracoll.all_texts or text.is_translated %}

    <div class="container-fluid">
        <div class="container-fluid justify-content-center mb-5">
            <div class="row justify-content-center" style="margin: 0 auto;">
                <div class=" card text-white bg-dark mt-5 p-4 col-sm-5 m-4"> <!-- Original-->
                    <div class="card-body" >
                        <h3>Original</h3>
                        <hr>
                        <p><strong> Title</strong><br> {{ text.title }}</p>
                        <p><strong> {{text.type}} </strong><br> {{ text.content }}</p>
                    </div>
                </div>  <!-- Fin Original -->
                <div class="card text-white bg-secondary mt-5 p-4 col-sm-5  bg-secondary m-4"> <!-- Translation-->
                    <div class="card-body" >
                        
                        <h3><span class="{% if text.isnot_translated %} text-warning {% else %} {% if text.is_marked_as_finished %}text-white {% elif text.is_editable %} text-dark {% endif %} {% endif %}">
                                        {{ text.get_status_display }}</span></h3>
                        
                        <hr>
                        <div style="margin-left:20px;margin-top:20px">
                            {% if text.translation_set.all %}
                                {% for tradu in text.translation_set.all %}
                                
                                <p><strong>Title</strong><br> {{ tradu.title }}</p>
                                <p><strong>{{text.type}}</strong> <br> {{ tradu.content }}</p>
                                <p class="text-dark text-end">Translated by: {{ tradu.user_translator }}</p>
                                <p class="text-muted"><strong>Id:</strong> {{ tradu.id }}</p>
                                {% endfor %}
                            {% else %}
                            <h6 class="text-warning">This text haven't been translated yet :(</h6>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- Fin traducción -->
            </div>
            <div class=" w-100 container-fluid justify-content-center">
                <br>
                <br>
                <div style="margin: 0 auto;" class="card justify-content-center text-white bg-dark mt-5 p-5 col-sm-11 border {% if text.isnot_reviewed %} border-warning {% else %} {% if text.is_marked_as_finished %}border-success {% else %} border-secondary {% endif %} {% endif %}">
                    <div class="card-body">
                        <h3 class="card-title">About "{{text.title}}" <span class="badge {% if text.isnot_reviewed %} bg-warning {% elif text.is_marked_as_finished %} bg-success {% else %} bg-secondary {% endif %}">{{ text.get_status_display }}</span></h3>
                        <hr>
                        <p class="card-text mb-1"><strong> Original title: </strong> {{text.title}}</p>
                        <p class="card-text mb-1"><strong> Author: </strong> <a class="author-link" href="{{ text.authors.first.get_absolute_url }}"> {{ text.author }}</a></p>
                        <!-- {% for auth in text.authors_set.all %} -->
                        <!-- {% endfor %} -->
                        <p class="card-text mb-1"><strong> Type: </strong> {{ text.type }}</p>
                        <p class="card-text mb-1"><strong> Language: </strong> {{ text.language }}</p>
                        {% if text.translation_set.all %}
                        {% for tradu in text.translation_set.all %}
                        <h6 class=" card-subtitle mb-3 mt-2 text-muted text-end"><strong>Translated by:</strong> {{ tradu.user_translator }}</h6>
                        {% endfor %}
                        {% endif %}
    
                        
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h5>Nothing to see here...</h5>
    <p>Okay, you catch us...what can hide this misterious page called "{{text.title}}"? this is a super ultra secret page, if you want to see other ultra secret pages, join us to this ultra secret (and friendly) group, and help us to translate more songs and poems. You just need to log in :)</p>
    <li><a href="{% url 'login' %}?next={{ request.path }}" class="btn bg-warning fw-bold">Login</a></li>

    {% endif %}
{% endblock %}