li {
    list-style: none;
}

#index_menu li a {
    text-decoration-line: none;
    font-size: larger;
    font-weight: bolder;
    color: lightblue;
}

.endpath {
    color: lightblue;
}

.lightblue {
    color: lightblue;
}

h3 {
    margin-top: 25px;
    padding: 25px;
}

.custom-success{
    color:lightgreen;
}