{% extends "base_generic.html" %}

{% block content %}

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" >Tracoll</li>
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="container-fluid justify-content-center">
        <div class=" container-fluid text-center mb-5">

            <!-- <h1 class="display-4" style="color:palevioletred"><strong>Welcome to Tracoll</strong></h1> -->
            <h2 class="display-6">In this collaborative translator you can find translations of songs and poems to the italian</h2>
        </div>
        <div class=" col-4 mt-5" style="margin: 0 auto;">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title mb-4">Currently, this site holds</h5>
                    <ul>
                        {% if perms.app_tracoll.all_texts %}
                            <li> <a href="{% if perms.app_tracoll.all_texts %} /app_tracoll/texts {% else %} /app_tracoll/translated_texts {% endif %}">  <span class="text-link"><strong>All the texts</strong></span></a><span style="position: absolute; right: 60px;">{{ num_texts }}</span>  </li>
                        {% endif %}
                        <li> <a href="/app_tracoll/translated_texts">  <span class="text-link"><strong>Translated texts</strong></span></a><span style="position: absolute; right: 60px;">{{ num_trans }}</span>  </li>
                        <li> <a href="/app_tracoll/authors">  <span class="author-link"><strong>Authors</strong> </span></a><span style="position: absolute; right: 60px;">{{ num_authors }}</span></li>
                        <li> <a href="/app_tracoll">  <span class="system-link"><strong>Visits</strong> </span></a><span style="position: absolute; right: 60px;">{{ num_visits }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
