{% extends "base_generic.html" %}

{% block content %}
<h1 class="display-5 mb-5">Tracoll/Texts/<span class="endpath">{{ text.title }}</span></h1>

<!-- <nav aria-label="breadcrumb" class="display-7 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Tracoll</a></li>
        <li class="breadcrumb-item"><a href="#">Texts</a></li>
        <li class="breadcrumb-item active endpath" aria-current="page">{{ text.title }}</li>
    </ol>
</nav> -->

<div>
    <div class="container-fluid justify-content-center mb-5">
        <div class="row" style="margin: 0 auto;">
            <div class=" card text-white bg-dark mt-5 p-4 col-sm-5 m-4"> <!-- Original-->
                <div class="card-body" >
                    <h3>Original</h3>
                    <hr>
                    <p><strong> Title</strong><br> {{ text.title }}</p>
                    <p><strong> {{text.type}} </strong><br> {{ text.content }}</p>
                </div>
            </div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="card text-white bg-secondary mt-5 p-4 col-sm-5 bg-secondary m-4"> <!-- Translation-->
                <div class="card-body" >
                    
                    <h3><span class="{% if text.status != 'V' %}text-warning{% endif %}">{{ text.get_status_display }}</span></h3>
                    
                    <hr>
                    <div style="margin-left:20px;margin-top:20px">
                        {% if text.translation_set.all %}
                            {% for tradu in text.translation_set.all %}
                            
                            <p><strong>Title</strong><br> {{ tradu.title }}</p>
                            <p><strong>{{text.type}}</strong> <br> {{ tradu.content }}</p>
                            <p class="text-dark text-end">Translated by: {{ tradu.user_translator }}</p>
                            <p class="text-muted"><strong>Id:</strong> {{ tradu.id }}</p>
                            {% endfor %}
                        {% else %}
                        <h6 class="text-warning">This text haven't been translated yet :(</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>
    <div style="margin: 0 auto;">
        
        <div class="card text-white bg-dark mt-5 p-4 col-sm-12 m-5 border {% if text.status == 'V' %}border-success{% else %}border-secondary{% endif %}">
            <div class="card-body" >
                <h3 class="card-title">About "{{text.title}}" <span class="badge {% if text.status == 'V' %}bg-success{% else %}bg-warning{% endif %}">{{ text.get_status_display }}</span></h3>
                <hr>
                <p class="card-text mb-1"><strong> Original title: </strong> {{text.title}}</p>
                <p class="card-text mb-1"><strong> Author: </strong> <a href="{{ text.authors.get_absolute_url }}"> {{ text.author }}</a></p>
                <!-- {% for auth in text.authors_set.all %} -->
                <!-- {% endfor %} -->
                <p class="card-text mb-1"><strong> Type: </strong> {{ text.type }}</p>
                <p class="card-text mb-1"><strong> Language: </strong> {{ text.language }}</p>
                {% if text.translation_set.all %}
                {% for tradu in text.translation_set.all %}
                <h6 class=" card-subtitle mb-3 mt-2 text-muted text-end"><strong>Translated by:</strong> {{ tradu.user_translator }}</h6>
                {% endfor %}
                {% endif %}

                
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}